{% extends "_base.html" %}

{% block content %}
  <h1>Stock Count</h1>

  <form action="/products/count" method="POST">
    {% csrf_token %}
    <input type="hidden" name="time" value="{{time}}"/>

    <div class="form-group">
      <label for="price_type">Price Type (leave blank for standard price)</label>
      <input type="string" name="price_type" class="form-control"/>
    </div>

    {% for product in products %}
      <h4 class="well">
        <strong>{{product.name}} - Last Count: {{product.stock}}</strong>

        <div class="row">
          <div class="col-md-4">
            <input type="text" class="form-control" name="{{product.id}}_stock" value="{{product.stock}}"></input>
          </div>
        </div>
      </h4>
    {% endfor %}

    <input type="submit" class="btn btn-success" value="Save count">
  </form>
{% endblock content %}