{% extends "_base.html" %}

{% block content %}
  <h1>Products</h1>

  <form action="/products" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <select name="group_id" class="form-control input-lg" required>
        <option value="" disabled selected>Select Product Group</option>
        {% for group in groups %}
          <option value="{{group.id}}">{{group.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <input name="name" class="form-control input-lg" type="text" placeholder="Enter a name" required>
    </div>

    <div class="form-group">
      <input name="price" class="form-control input-lg" type="text" placeholder="Enter a price" required>
    </div>

    <div class="form-group">
      <input name="price_rent" class="form-control input-lg" type="text" placeholder="Enter a price to rent per day" required>
    </div>

    <input type="submit" class="btn btn-success btn-lg btn-block" value="Create Product">
  </form>

  <div>
    {% for product in products %}
      <h4 class="well">
        <strong>{{product.name}}</strong>

        <div class="row">
          <form action="/products/{{product.id}}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="_method" value="PUT"/>

            <div class="col-md-4">
              <input type="text" class="form-control" name="stock" value="{{product.stock}}"></input>
            </div>

            <div class="col-md-4">
              <input type="submit" class="btn btn-success" value="Update Stock">
            </div>
          </form>

          <form action="/products/{{product.id}}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="_method" value="DELETE"/>

            <div class="col-md-4">
              <input type="submit" class="btn btn-danger" value="Delete">
            </div>
          </form>
        </div>
      </h4>
    {% endfor %}
  </div>
{% endblock content %}