{% extends "_base.html" %}
{% load bootstrap_tags %}

{% block content %}
  <h1>Products</h1>

  <form action="/products" method="POST">
    {% csrf_token %}
    
    {{ form | as_bootstrap }}

    <input type="submit" class="btn btn-success btn-lg btn-block" value="Create Product">
  </form>

  <div>
    {% for product in products %}
      <h4 class="well" class="product-row">
        <div class="row">
          <form action="/products/{{product.id}}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="_method" value="PUT"/>

            <div class="form-group col-md-4">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" value="{{product.name}}"></input>
            </div>

            <div class="form-group col-md-4">
              <label for="price">Price</label>
              <input type="text" class="form-control" name="price" value="{{product.price}}"></input>
            </div>

            <div class="form-group col-md-4">
              <label for="price_rent">Price Rent</label>
              <input type="text" class="form-control" name="price_rent" value="{{product.price_rent}}"></input>
            </div>

            <div class="form-group col-md-4">
              <label for="price_other">Price Other</label>
              <input type="text" class="form-control" name="price_other" value="{{product.price_other}}"></input>
            </div>

            <div class="form-group col-md-4">
              <label for="stock">Stock</label>
              <input type="text" class="form-control" name="stock" value="{{product.stock}}"></input>
            </div>

            <div class="col-md-4">
              <input type="submit" class="btn btn-success" value="Update Stock">
            </div>
          </form>

          <form action="/products/{{product.id}}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="_method" value="DELETE"/>

            <div class="col-md-4">
              <input type="submit" class="btn btn-danger" value="Delete">
            </div>
          </form>
        </div>
      </h4>
    {% endfor %}
  </div>
{% endblock content %}